@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url('images/body-background.gif');
    background-size: cover; 
    color: #2ca5f5;
    font-family: 'Rajdhani', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:7px 7px 10px red;
}

canvas {
    background-color:#14063d;
    border: 20px double black;
}

h4 {
    margin: 20px;;
    font-weight: 100;
    font-size: 20px;
    text-shadow:7px 7px 7px red;
}

h1 {
    margin: 0;
    font-weight: 100;
    text-shadow:7px 7px 10px red;
}

.playbutton:hover {
    background-color: red;
}

.playbutton {
    font-family: 'Rajdhani', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    border-radius: 30px;
    border-style: none;
    background-color: #2ca5f5;
    padding: 10px 30px;
    margin-top: 30vh;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    color: #4f6166;
    text-shadow:1px 1px 10px #2ca5f5;

}

.game-over {
    font-size: 10em;
}



