body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url('images/body-background.gif');
    background-size: cover; 
}

canvas {
    background-color:#14063d;
    border: 20px double black;
}